.card{
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fill-available;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-body input{
    margin-right: 10%;
    width: auto;
    float: left;
}

.card-body ul{
    list-style: none;
    /*float: right;*/
}

.card-body ul li {
    display: inline;
    float: right;
}

.card-body ul li a {
    display: block;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
}