<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
    </head>

    <body>
        <form method="POST">
          {% if action_type == "add_new" %}
            <div class="form-group">
              <label for="website">Website</label>
              <input type="text" class="form-control" id="website" aria-describedby="emailHelp" placeholder="Website" name="website">
            </div>
          {% endif %}
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="InputPassword" placeholder="Password" name="pswd">
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </body>
</html> 

