<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashbord</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
    </head>

    <head>
        <a href="admin/manage_plans"  class="btn btn-primary">add new plan</a>
        <h1>Analytics</h1>
        <img src="/static/graph.png" alt="analytics_graph">
        <p>number of new accounts signed up - {{ analytics[1] }}</p>
        <p>number of accounts upgraded      - {{ analytics[2] }}</p>
        <p>number of left                   - {{ analytics[3] }}</p>
    </head>
</html>

