<!DOCTYPE html>
<html>
    <head>
        <title>Admin Dashbord</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/custom_dashbord.css">
    </head>

    <head>
        <div class="analytics">
            <img src="/static/graph.png" id="graph" alt="analytics_graph">
            <table>
                <tr>
                    <td>number of users signed up</td>
                    <td><input type="button" value="" class="btn btn-primary" id="graph_signup"></td>
                </tr>
                <tr>
                    <td>number of users Upgraded</td>
                    <td><input type="button" value="" class="btn btn-primary" id="graph_upgrade"></td>
                </tr>
                <tr>
                    <td>number of users left</td>
                    <td><input type="button" value="" class="btn btn-primary" id="graph_left"></td>
                </tr>
            </table>
        </div>
    </head>
</html>

