<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/custom_dashbord.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <title>Dashbord</title>
    </head>

    <body>
        <h2>Welcome {{ user_name }}</h2>
        <a href="{{ user_name }}/add_new_password"  class="btn btn-primary">add new password</a>
        <a href="logout/{{ user_name }}"  class="btn btn-primary">logout</a>
        <a href="{{ user_name }}/delete_account"  class="btn btn-primary">Remove account</a>
        <a href="/subscribe_plan/{{ user_name }}"  class="btn btn-primary">Upgrade</a>
        
        {% for d in data %}
            <div class="card">
                <h5 class="card-header">{{ d[0] }}</h5>
                <div class="card-body">
                    <input type="password" disabled class="form-control" id="{{ d[0] }}_password" value= "{{ d[1] }}" name="pswd">
                    <ul> 
                        <li><a href="{{ user_name }}/remove/{{ d[0] }}" id = "{{ d[0] }}_remove" class="btn btn-primary" onclick="copy(this.id)">Remove</a></li>
                        <li><a href="{{ user_name }}/update/{{ d[0] }}" id = "{{ d[0] }}_change" class="btn btn-primary">Change</a></li>    
                        <li><a href="#" id = "{{ d[0] }}" class="btn btn-primary" onclick="show(this.id)">Show</a></li>
                    </ul>  
                </div>
            </div>
        {% endfor %}
    </body>
</html>

<script>
function show(id) {
    var password = document.getElementById(id+'_password'); 
    if(password.type == "password"){
        password.type = "text";
    }    
    else{
        password.type = "password";
    }
}
</script>